# 默认忽略的文件
/../../PrintRegistrationSystem /.idea/shelf/
/../../PrintRegistrationSystem /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../PrintRegistrationSystem /.idea/httpRequests/
# Datasource local storage ignored files
/../../PrintRegistrationSystem /.idea/dataSources/
/../../PrintRegistrationSystem /.idea/dataSources.local.xml
